body{
	margin: 0px;
	padding: 0px;
	font-family: "open sans";

}
h2{margin: 0px auto; color:#fff;}
#header{
	width: 100%;
	height: 56px;
	background-color: black;
}
#wrapper{
	min-height: 500px;
	margin: 0 auto;
	width:1024px;
}
#menu {
	width: 1024px;
	min-height:  500px;
	margin: 0px auto;
	color: white;
}
#portfolio{
	list-style: none;
	padding-left: 0px;
}
#portfolio li{
	display: inline-block;
	margin: 10px;
}
#portfolio li img{
	width: 200px;
	height: 170px;
}
#portfolio li img:hover{
	cursor: pointer;
}
#overlay:hover{
	cursor: pointer;
}
#main:hover{
	cursor: pointer;
}
#frame{
	margin-top: 15px;
	position: fixed;
	left: 50%;
	display: none;
	background-color: white;
	width: 695px;
	height: 490px;
	margin-left: -300px;
	padding-top: 10px;
	padding-bottom: 20px;
}
#main{
	width: 660px;
	margin-left: 20px;

}

#overlay{
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: black;
	opacity:  0.7;
}
#frame-table{
	position: absolute;
	width: 1210px;
	margin-left: 20px;
}
#right{float: right;}
#right, #left{
	position: relative;
	top: 220px;
	cursor: pointer;
	display: none.
}
#caption{
	display: none;
	color: #333;
	font-size: 14px;
	background-color: #ccc;
	width: 655px; margin-top: 10px;
	height: 40px;
	padding: 5px 20px